
.column {
    display: flex;
    position: relative;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    width: 100%;
    padding: 10%;
}