.ExploreUser {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.MainExploreContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background-color: #ffffff;
    border: 1px solid rgba(40, 44, 52, 0.26);
    margin-left: 400px;
}

