.ProfileSection {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  border-left: 1px solid rgba(40, 44, 52, 0.13);
  height: 100vw;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  height: 100vw;
  padding-top: 55px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.CoverPicContainer img {
  width: 100%;
  height: 250px;
  position: relative;
}

.ProfilePicContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ProfilePicContainer button {
  margin-left: 400px;
}

.ProfilePicContainer img {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 230px;
  left: 10px;
}

.profileInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.profileInfoContainer h2 {
  margin: 5px;
}

.profileInfoContainer h3 {
  margin: 5px;
}

.profileInfoContainer p {
  margin: 10px;
  margin-left: 5px;
}

.followCounter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.followCounter:hover:not(.active) {
  text-decoration: underline;
}
