.NewsContainer {
    display: flex;
    position: relative;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.RecommendDiv {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(40, 44, 52, 0.26);
    padding-top: 10%;
    padding-right: 28%;
    padding-left: 5%;
    height: 100%;
}

.Whatshappening {
    background-color: rgba(99, 107, 111, 0.11);
    border-radius: 28px;
    padding: 10px;
    margin: 10px;
}

.WhoToFollow {
    background-color: rgba(99, 107, 111, 0.11);
    border-radius: 28px;
    padding: 10px;
    margin: 10px;
}