@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.ExploreNavbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(40, 44, 52, 0.26);
    padding: 8px;
    margin-left: 20px;
}

.ExploreSearch {
    margin-left: 10px;
    width: 500px;
    float: left;
    padding: 8px;
    border-radius: 30px;
    border: none;
    background-color: rgba(172, 186, 189, 0.19);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.ExploreloginButton {
    background-color:#ffffff;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    color: #00acee;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    border: 1px solid #00acee;
    margin-left: 120px;
}

.ExploreloginButton:hover:not(.active) {
    background-color: rgba(3, 144, 198, 0.13);
    transition: 0.3s;
}

.ExploretweetButton {
    border: none;
    background-color:#00acee;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    color: white;
    font-size: 15px;
    font-family: Ubuntu;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
}

.ExploretweetButton:hover:not(.active) {
    background-color: #0390c6;
    transition: 0.3s;
}