.Home {
    display: flex;
    z-index: 1;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 55px;
    background-color: #ffffff;
    height: 100%;
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
    .feedContainer {border-left: none; border-right: none; }
}