.ExploreUser {
    display: flex;
    padding-left: 300px;

}

.MainExploreContainer {
    display: flex;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid rgba(40, 44, 52, 0.26);

}

.MainExploreContainer h3 {
    padding-left: 10px;
}


